<header id="header">
    <span class=" logo">
        NEU
    </span>
    <% if (route=='pages/home' ) { %>
        <nav>
            <ul>
                <a href="#about">
                    <li>About us</li>
                </a>
                <a href="#gallery">
                    <li>Products</li>
                </a>
                <a href="/pages/shop">
                    <li>Shop</li>
                </a>
            </ul>
        </nav>
        <% } else if (route=='pages/shop' ) { %>
            <nav>
                <ul>
                    <% if (!isLoggedIn) { %>
                        <a href="/pages/login">
                            <li>Login/Register</li>
                        </a>
                        <% } else { %>
                            <form action="/logout" method="POST" name="logout-form" id="logout-form">
                                <li id="logout__btn">Logout</li>
                            </form>
                            <% } %>
                                <a href="../pages/shop.html">
                                    <li class="cart__link">
                                        <span class="material-symbols-outlined shopping__bag">
                                            shopping_bag
                                        </span>
                                        <% if (cart> 0) { %>
                                            <span>
                                                <%= cart %>
                                            </span>
                                            <% } %>
                                    </li>
                                </a>
                </ul>
            </nav>
            <% } else { %>
                <nav>
                    <ul>
                        <a href="/pages/login">
                            <li>Shop</li>
                        </a>
                    </ul>
                </nav>
                <% } %>
</header>